# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for data science.
* List popular libraries used by Data Scientists.
* List various data science tools.

Some of the popular languages that Data Scientists use are:
1. Python
2. Julia
3. R

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. SciPy
3. Pandas

| Data Science Tools |
|--------------------|
|RStudio |
|Apache Hadoop|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5

print(result)  # Output will be 17

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

**Author**<br>
Kumar Kartikey